
@keyframes shake{
    0%{
        transform: rotate(0deg);
    }
    10%{
        transform: rotate(-45deg);
    }
    /* 20%{
        transform: rotate(-20deg);
    } */
    /* 30%{
        transform: rotate(30deg);
    }
    40%{
        transform: rotate(-30deg);
    }
    50%{
        transform: rotate(10deg);
    }
    60%{
        transform: rotate(-10deg);
    }
    70%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(0deg);
    } */
}